<!DOCTYPE html>
<html>
<body>

<h1>WEATHER (CHAT)BOT</h1>
<h3>See bottom right</h3>


<script src="https://cdn.recast.ai/webchat/webchat.js"
        channelId="1ac7ec0e-b494-4da0-882a-65d429fd63f4"
        token="de3f9488bf8a1e371e7480345bbccb78"
        id="recast-webchat"
></script>
</body>
</html>
